<div id="application">
  
<h1><%= @call.identify(@app) %></h1>

<% app_form_columns(@call).each do |c| %>
  <% next if @call.identity_columns_a.include? c.name %>
  <div class="app-block-<%= c.type %>">
  <h3><%= @call.app_class.human_attribute_name(c.name) %></h3>
  <p><%= app_response(@app, c) %></p>
  </div>
<% end %>

</div>
