<h1>Download <%= @call.app_class.model_name.human.titleize %> Attachment</h1>
<p><%= @call.app_class.model_name.human.titleize %> applications do not have a &ldquo;<%= params[:column] %>&rdquo; attachment.</p>
<p>Please check the URL.</p>
