body {
  margin: 0.5in;
  font-family: Verdana, 'Bitstream Vera Sans', sans-serif;
}
#logged-in {
  position: absolute;
  right: 0.5in;
  top: 0.3in;
}
table th {
  text-align: left;
}
input[type=submit] {
  font-size: larger;
}
.openclose-container { display: inline; }
.openclose-is-open, .openclose-is-close {
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px;
}
.openclose-is-open { display: inline; background: #efe; color: #333; }
.openclose-is-close { display: inline; background: #fee; color: #999; }
.openclose-container .openclose-is-open { display: none; }
.openclose-container .openclose-is-close { display: inline; cursor: pointer; }
.openclose-container.openclose-open .openclose-is-open { display: inline; cursor: pointer; }
.openclose-container.openclose-open .openclose-is-close { display: none; }

#application {
  margin-right: 3.5in;
}

#review {
  position: fixed;
  right: 0.5in;
  top: 0.5in;
  width: 3in;
  margin-top: 2em;
  font-size: smaller;
}
#review div {
  margin-top: 0.5em;
}
#review table, #review table td {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: smaller;
}
#review .field_with_errors {
  display: inline;
  margin: 0;
}
#review-form-errors {
  padding: 1em;
  background: #fbb;
}
#review-form-errors ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.app-summary table, .app-summary table td {
  margin: 1em 0;
  padding: 0 0.5em;
  text-align: center;
}

.app-block-string, .app-block-integer, .app-block-date, .app-block-boolean {
  margin: 1em 0;
}
.app-block-string > *, .app-block-integer > *, .app-block-date > *, .app-block-boolean > * {
  margin: 0 1em 0 0;
  display: inline;
}
